$red: #e60000;
$grey: #c0c0c0;
$darkGrey: #353535;
$white: #fff;
$black: #000;
$title:'Rajdhani', sans-serif;
$font: 'Roboto Condensed', sans-serif;
$boxShadow: 0 1px 3px $black;
$oBlack: rgba(0,0,0, 0.7);

*{
	font-family: $font;
}
html, body{
	height: 100%;
}
h1, h2, h3{
	font-family: $title;
	font-weight: bold;
}
.black{
	background-color: $oBlack;
	height: inherit;
}
.p-full, .p-half{
	padding: 50px 0;
}
.wrapper{
	margin: 0 10rem;
	@media screen and(max-width: 991px){
		margin: 0 1rem;
	}
}
.banner{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	@media screen and (max-width: 992px){
		background-attachment: scroll;
	}

}
.navbar{
	padding: 0;
}
.required, .red{
	color:$red;
}
@media screen and (max-width: 992px){
	.full-nav{
		display: none;
	}
	.mini-nav{
		display: block !important;
	}
}
/**************************************Header***************************************/
header{
	overflow-x: hidden;
	.social-bar{
		background: $red;
		color:$white;
		padding: 0.25rem 0;
		.mini-nav{
			display: none;
			.navbar-toggler{
				display: flex;
				margin: auto !important;
				flex-direction: column;
				justify-content: center;
				padding: 10px 0;
				-webkit-appearance: none;
				&:hover{
					.icon-bar{
						background: $darkGrey;
					}
				}
				.icon-bar{

					width: 22px;
					height: 2px;
					margin: 2px;
					background: $white;
					border-radius: 1px;
				}
			}

			.navbar-toggler.collapsed .top-bar{
				transform: rotate(0deg);
				transform-origin: 0% 0%;
			}

			.navbar-toggler.collapsed .middle-bar{
					opacity: 1;
			}

			.navbar-toggler.collapsed .bottom-bar{
				transform: rotate(0deg);
				transform-origin: 0% 0%;
			}

			.top-bar{
				transform: rotate(45deg);
				transform-origin: 10% 10%;
			}
			.middle-bar{
				opacity: 0;
			}
			.bottom-bar{
				transform: rotate(-45deg);
				transform-origin: 10% 90%;
			}
			li{
				padding: 10px 0;
				a{
					color:$white;
					font-family: $title;
					font-size: 18px;
					font-weight: bold;
					&:hover{
						color:$darkGrey;
						}
					}
			}
		}
	}
		a{
			font-size: 26px;
			color:$white;
			transition: all 0.2s ease-in-out;
			&:hover{
				text-decoration: none;
				color:$darkGrey;
			}
		}
		.phone{
			font-size: 16px;
		}
}//End Header
/************************************Navbar*****************************************/
.full-nav{
	background:transparent;
	.navbar-nav{
		padding-top: 20px;
	}
	@media screen and(max-width:991px){
		margin: 0 20px;
	}
	.navbar-toggler{
		-webkit-appearance: none;
		&:hover{
			.icon-bar{
				background: $red;
			}
		}
		.icon-bar{
			display: block;
			width: 22px;
			height: 2px;
			margin: 4px;
			background: $white;
			border-radius: 1px;
		}
	}

	.navbar-toggler.collapsed .top-bar{
		transform: rotate(0deg);
		transform-origin: 0% 0%;
	}

	.navbar-toggler.collapsed .middle-bar{
			opacity: 1;
	}

	.navbar-toggler.collapsed .bottom-bar{
		transform: rotate(0deg);
		transform-origin: 0% 0%;
	}

	.top-bar{
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar{
		opacity: 0;
	}
	.bottom-bar{
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}

	li{
		padding: 10px;
		a{
			color:$white;
			font-family: $title;
			font-size: 18px;
			font-weight: bold;
			&:hover{
				color:$red;
			}
		}
	}
	.fa-facebook,
	.fa-instagram{
		padding: 0 0.5rem;
	}
}//End nav
/************************************Banner*******************************************/
.home-banner{
	background-image: url("images/home-banner.jpg");
	.v-center{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90vh;
	}
	.logo{
		width: 60%;
	}
	@media screen and(max-width: 992px){
		.logo{
			width:80%;
		}
		.full-nav{
			display: none;
		}
	}
	h2{
		color:$grey;
		text-shadow: $boxShadow;
	}
	p{
		color:$white;
	}
}//End Home Banner
/************************************Services**********************************************/
.services{
	background: $grey;
	.contactLink{
		color:$red;
		&:hover{
			color: $black;
		}
	}
	.serv-list{
		font-size: 1rem;
	}
	.services-title:after{
		width: 0;
		height: 0;
	}
	h2{
		&:after{
			content:'';
			width: 70%;
			height: 2px;
			display: block;
			margin: inherit;
			background: $red;
		}
	}
	ul{
		@media screen and(max-width: 768px){
			padding: 0;
		}
		li{
			list-style-type: none;
			&:before{
				content: "-";
				padding-right: 5px;
				color:$red;
				font-weight: bold;
				@media screen and(max-width: 768px){
					content: "";
					padding-right: 0px;
				}
			}
		}
	}
	.price{
		color: $red;
	}
//Handling smaller screens
	@media screen and(max-width: 991px){
		h3{
			margin: 20px 0;
		}
		.title{
			width: 100%;
		}
		.text-right{
			padding-top: 30px;
			padding-bottom: 20px;
			text-align: center !important;
		}
		.text-left{
			text-align: center !important;
		}
	}
}//End Services
/************************************Testimonials***********************************/
.testimonials{
	background-image: url("images/testimonials-banner.jpg");
	color:$white;
	.carousel{
		height: 100%;
	}
	@media screen and(max-width: 991px){
		.carousel-inner{
			height: 400px;
		}
	}
}
/************************************About******************************************/
.about{
	background: $grey;
}
/************************************Contact***************************************/
.contact{
	background-image: url("images/contact-banner.jpg");
	color:$white;
	.wrapper{
		padding: 20px;
		border-radius: 5px;
	}
	.row{
		padding: 10px 300px;
		@media screen and (max-width: 1400px){
			padding: 10px 0px;
		}
	}
	.col-md-6:last-child{
		border-left: 1px solid $white;
		@media screen and(max-width: 991px){
			border: none;
		}
	}
	a{
		color:$white;
		&:hover{
			color:$red;
			text-decoration: none;
		}
	}
	.fa-envelope,
	.fa-phone{
		color:$red;
	}
	.input{
		border: 2px solid transparent;
	}
	.error{
		border: 2px solid $red;
	}
	.success{
		display: none;
		color: #1e7e34;
	}
	#errmsg{
		display: none;
		color: $red;
	}
	#successmsg{
		display: none;
		color: #1e7e34;
	}
}
/************************************Footer*****************************************/
.footer{
	background: $darkGrey;
	.row{
		width: 100%;
	}
	@media screen and(max-width: 991px){
		.navbar{
			text-align: center !important;
		}
		.navbar, .order-md-3{
			margin-bottom: 5rem !important;
		}
	}
	p{
		color:$white;
	}
	a{
		color:$white;
		&:hover{
			color:$red;
		}
	}
	.order-md-3{
		a{
			font-size: 26px;
			padding: 0 20px;
		}
	}
}

/*********************************toTopBtn*************************************/
.toTopBtn{
	a{
	position: fixed;
	right: 75px;
	bottom: 50px;
	color:$red;
	font-size: 30px;
	padding: 10px;
	z-index: 1;
		&:active{
			color:$white;
		}
		@media screen and(max-width: 991px){
			right: 25px;
			bottom: 25px;
		}
	}

}
